<header>
    <h1>Header</h1>
</header>

<div class="container">
<nav>
    <h3>Pages: </h3>
    <ul>
        <li>
            <a routerLink="/students" routerLinkActive="active">Students</a>
        </li>
        <li>
            <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
        </li>
        <li>
            <a routerLink="/create-student" routerLinkActive="active">Create Student</a>
        </li>
        <li>
            <a routerLink="/mdf" routerLinkActive="active">MDF</a>
        </li>
    </ul>
</nav>



    <router-outlet></router-outlet>
</div>

<footer>
    <h2>Footer</h2>
</footer>