<header>
    <h1>Header</h1>
    <hr>
</header>

<nav>
    <h3>Pages: </h3>
    <ul>
        <li>
            <a routerLink="/students" routerLinkActive="active">Students</a>
        </li>
        <li>
            <a routerLink="/teachers" routerLinkActive="active">Teachers</a>
        </li>
        <li>
            <a routerLink="/mdf" routerLinkActive="active">FORM</a>
        </li>
    </ul>
    <hr>
</nav>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <hr>
    <h2>Footer</h2>
</footer>