*{
    margin: 0;
}

.active{
    color: #db3545;
}
header, footer{
    text-align: center;
    color:white;
    background: black;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
}

